<!doctype html>
<html lang="en" ng-app="angularGaleria">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="___">
</head>
<body ng-controller="mainController">
    <div class="container"></div>
        <!-- Canecera -->
        <div class="jumbotron text-center">
            <h1>Galeria</h1>
            <h3>{{galerias.length}} secciones</h3>
        </div>

        <!-- Lista de galerias -->

        <div class="checkbox" ng-repeat="galeria in galerias">
            <label>
                <a href="#" ng-click="showDetails(galeria._id)">{{galeria.name}}</a> (Eliminar? <input type="checkbox" ng-click="deleteGaleria(galeria._id)" />)
            </label>
    
        </div>
        <form>
            <div class="form-group">
                <input type="text" class="form-controll input-lg text-center" placeholder="Ingrese nombre de galeria." ng-model="formData.name">
                <input type="text" class="form-controll input-lg text-center" placeholder="Ingrese descripción de la galeria." ng-model="formData.description">
            </div>
            <button class="btn btn-primary btn-lg" ng-click="createGaleria()">
                Agregar
            </button>
        </form>

        <h2 ng-bind="details[0].name"></h2>
        <h3 ng-bind="details[0].description"></h3>
        <form ng-submit="addPhotoToGaleria(details[0]._id)" method="post">
            <img ng-src="{{data}}"/>
            <label>Seleccionar una foto para subir
                <input ng-model="galeriaData.filenew" name="filenew" type="file"></input>
                <button type="submit" class="btn btn-primary btn-lg">
                    Agregar Foto
                </button>
            </label>
            </form>
        </label>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><script ng-src="../node_modules/angular-sanitize/angular-sanitize.js"></script><script src="/public/main.js"></script>
    <script>

    </script>
</body>
</html>